<h1>Edit Bookmark</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Bookmarks:</p>
    <ul>
      <li>Copy and paste url in to make it easier</li>
      <li>Don't forget to include https:// or http://</li>
      <li>Confirm you have all of the url and test it after creating</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= form_for @bookmark, url:topic_bookmark_path do |f| %>

      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control', placeholder: "Enter url" %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
      <% end %>
  </div>
</div>
