<h1><%= @topic.title %><hr></h1>



 <div class="row">

   <div class="col-md-10">
     <p class="lead">
       <% if @showing_public %>
          <%= render partial: "bookmarks/public_bookmarks", locals: {topic: @topic, filter: @filter} %>
       <% else %>
          <%= render partial: "bookmarks/your_bookmarks", locals: {topic: @topic, filter: @filter} %>
       <% end %>
     </p>
   </div>

   <div class="col-md-2" >
     <%# if user_is_authorized_to_edit_topics? %>
       <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success btn-spacing' %>
     <%# end %>
     <%# if user_is_authorized_to_delete_topics? %>
       <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger btn-spacing', data: {confirm: 'Are you sure you want to delete this topic, all bookmarks associated with this topic will be deleted?'} %>
     <%# end %>
     <br>

     <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), method: :get, class: 'btn btn-success btn-spacing' %>
     <br>
     <%= link_to "Return to Topic list", topics_path, {:class=>"btn btn-default btn-spacing"} %>
   </div>

</div>
