<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<h1>User Profile</h1>
<hr>


     <div class="col-md-12">
       <h2 class="media-heading"><%= @user.name %></h2>
       <br>
       <h4>
         <% if @user.premium? || @user.admin? %>
           <span style="color:red"><%= @user.role.capitalize %></span>
         <% else %>
           <span style="color:green"><%= @user.role.capitalize %></span>
         <% end %>
         account type<br><br>
         <p><span style="font-weight:bold;">Email: </span><%= @user.email %><br>
         <span style="font-weight:bold;">Last signed in: </span><%= @user.last_sign_in_at %><br>
         <span style="font-weight:bold;">Member since: </span><%= @user.created_at %></p>
         <p><span style="font-weight:bold;">Number of topics: </span><%= @no_topics %><br>
         <span style="font-weight:bold;">Number of bookmarks: </span><%= @no_bookmarks %><br></p>

       </h4>
       <br>
       <%= link_to "Edit Registration", edit_user_registration_path, class: 'btn btn-primary' %>
    </div>


<div class="col-md-12" style="margin-top:50px;">
  <h1 style="color:#0896BE;"> <span style="color:#67C067;">Your</span> Liked Bookmarks by Topic<hr></h1>
<%= render partial: "topics/form", locals: {topics: @topics} %>
</div>


<br>
